@font-face {

    font-family: 'PostNoBillsJaffna';
    src: url('/assets/fonts/postnobillsjaffna/PostNoBillsJaffna-Regular.ttf');
    font-weight:normal;
    font-display:swap;
    font-style: normal;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 400;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1110px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* ---------------------------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 130px;
    align-items: center;
}
.header__logo {
    font-size: 36px;
    font-weight: 600;
    font-family: PostNoBillsJaffna;
    color: inherit;
    line-height: 150%;
}
p {
    font-size: 12px;
    font-family: Raleway;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: 125%;
}
.header__menu {
    margin: 0px 0px 0px 435px;
}
@media (max-width: 1124px){
   .header__menu {
    margin: 0px 0px 0px 80px;
   }
}
@media (max-width: 767px){
    .header__menu {
     margin: 0px 0px 0px 40px;
    }
 }

.menu {
    padding: 5px 0;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    
}
.menu__item:not(:last-child){
    margin: 0px 40px 0px 0px;
}
.menu__link {
    line-height: 130%;
    color:inherit;
}
/* ---------------------------------------------------------------------------------------- */
.page {
    flex: 1 1 auto;
}
.page__main-block {
    
}
.page__about {
}
/* ---------------------------------------------------------------------------------------- */
.footer {

}
/* ---------------------------------------------------------------------------------------- */
.page {
   
}
.page__main-block {
    position: relative;
}
.main-block {
  
}
.main-block__container {
    padding: 300px 0px 74px 0px;
    position: relative;
    z-index: 2;
    max-width: 556px;
}

.main-block__title {
    font-size: 48px;
    font-family: Playfair Display;
    line-height: 130%;
    font-weight: 700;
    color: #D4C17F;
    text-align: center;

}
.main-block__mouse {
    position: relative;
    padding: 100px 0px 0px 0px;
    text-align: center;
    z-index: 2;
}
.main-block__contacts {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 74px;
    /* line-height: 116px; */
   
}
.main-block__adress {
    
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-block__cont {
    color: inherit;
    font-size: 18px;
    margin: 0px 100px 0px 0px;
}
.main-block__phone {
    padding-left: 100px;
}
@media(max-width: 704px){
    .main-block__phone {
        padding-left: 0px;
    }
}
@media(max-width: 604px){
    .main-block__cont {
        margin: 0px 10px 0px 0px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__about {
    background: #242B33;
}
.about {
}
.about__container {
    padding-top: 120px;
}
.about__body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0px -15px;
}

.about__column {
    padding: 0px 15px;
    flex: 0 1 22.222%;
}
@media (max-width: 620px){
    .about__column {
        flex: 0 1 50%;
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 340px){
    .about__column {
        flex: 0 1 100%;
        margin: 0px 0px 30px 0px;
    }
}
.about__item {
    height: 100%;
}
.item-about {
    text-align: center
}
.item-about__icon {
    
}
.item-about__title {
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 135%;
    padding-top: 53px;
}
/* ---------------------------------------------------------------------------------------- */

.page__appartments {
    background-color: #242B33;
}

.header-block__title {
    padding-top: 120px;
    color: #D4C17F;
    font-size: 36px;
    font-weight: 700;
    font-family: Playfair Display;
}
.appartments__body {
    padding-top: 100px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.appartments__img-1 {
    background: url(/assets/images/loft3.1.jpg);
    background-size: cover;
    width: 530px;
    height: 315px;
}

.appartments__img-2 {
    background: url(/assets/images/loft2.1.jpg);
    width: 530px;
    height: 315px;
}
.appartments__img-3 {
    background: url(/assets/images/loft3.2.jpg);
    width: 530px;
    height: 315px;
}
.appartments__img-4 {
    background: url(/assets/images/loft2.2.jpg);
    width: 530px;
    height: 315px;
}
.appartments__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 116%;
    margin: 250px 0px 5px 50px;
}
@media (max-width: 1090px) {
    .appartments__body {
       justify-content: center;
     }
    .header-block__title {
        display: flex;
        justify-content: center;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__form {
    background: center no-repeat url(/assets/images/form-bg.jpg);
    background-size: cover;
    /* max-width: 1920px; */
    height: 560px;
}
.form__container {

}
.form__column {
    display: flex;
    justify-content: space-between;
}
.form__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 50px;
    
}
.form__text {
    /* font-family: Raleway; */
    font-size: 16px;
    line-height: 150%;
    width: 535px;
    height: 114px;
}
.form__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 530px;
}
.form__items {
}
.input {
    width: 255px;
    height: 50px;
    background-color:rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 192%;
    border: none;
    color: #BEBEBE;
}
.input::placeholder {
    color: #BEBEBE;
}
.form__items__text {
    width: 255px;
    height: 28px;
    text-align: center;
    font-size: 13px;
    line-height: 123%;
    margin-top: 40px;

}
.btn {
    width: 255px;
    height: 50px;
    color: #ffffff;
    background-color: #d4c17f;
    font-size: 16px;
    font-weight: 700;
    line-height: 168%;
    border: none;
    /* margin-top: 30px; */
}
.btn-f:hover {
    background-color: rgb(151, 132, 63);
    color: #ffffff;
}
.form__items_btn {
    margin-top: 30px;
}

@media (max-width: 1066px) {
    .form__title {
        display: flex;
        justify-content: center;
    }
    .form__column {
        flex-direction: column;
     }
    .form__text {
       margin-bottom: 50px;
    }
    .page__form {
        display: flex;
        flex-direction: column;
    }
    .form__container {
     
    }
}
/* ---------------------------------------------------------------------------------------- */

.page__video {
    background: #242B33;
}

.video__container {
    display: flex;
    justify-content: center;
   
}
.video__prewiew {
    background-image: url(/assets/images/video.jpg);
    /* background-position: center center;
    background-size: cover; */
    background-size: 100% 100%;
  /* position: absolute; */
}
.video__parr {
    width: 719px;
    height: 650px;
}
.video__play {
   /* padding-top: 275px; */
   display: block;
   margin: 0 auto;
   text-align: center;
   /* width: 719px;
   height: 650px; */
    
  
}
@media (max-width: 1068px){
    .video__container{
        padding-top: 50px;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__map {
    background:  #242B33;
}
.map__container {
}
.map__columns {
}
.map__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 100px;
}

.map__responsive {
    width: 1110px;
    height: 358px;
    overflow:hidden;
    position:relative;

}
.map__responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:relative;
    position: absolute;
} 
@media (max-width: 1066px) {
    .map__title {
        text-align: center;
    }
}
/* ---------------------------------------------------------------------------------------- */
.page__questions {
    background:  #242B33;
}
.questions__container {
}
.questions__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 50px;
}
.questions__columns {
    display: flex;
    flex-wrap: wrap;
}
.questions__text {
    margin: 10px 35px 0px 0px;
    /* width: 255px;
    height: 50px; */
    text-align: center;
    font-size: 13px;
    line-height: 123%;
    
}
.questions__item {
}
.questions__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
}

@media (max-width: 1140px) {
    .questions__columns {
        flex-direction:column;
        justify-content:center;
        text-align: center;
    }
    .questions__title {
        text-align: center;
    }
    .questions__item:not(:last-child) {
        margin: 10px 0px 0px 0px;
    }
    .questions__item__btn2 {
        margin-top: 10px;
    }
    .questions__text {
        margin: 0px 0px 0px 0px;
    }
   
}


