@font-face {

    font-family: 'PostNoBillsJaffna';
    src: url('/assets/fonts/postnobillsjaffna/PostNoBillsJaffna-Regular.ttf');
    font-weight:normal;
    font-display:swap;
    font-style: normal;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 400;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1110px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
    box-shadow: 0 0 20px rgb(241, 241, 241);
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color:#D4C17F;
}
nav.header__menu ul li a {
    position: relative;
}
nav.header__menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background:#D4C17F;
  height: 1px;
}
nav.header__menu ul li a:hover:after {
  width: 100%;
}
button:hover {
    background-color: rgba(206, 173, 66, 0.966);
    color:rgba(0, 0, 0, 0.87);
}
button:active {
    background-color:#eee;
}
body._lock {
    overflow: hidden;
}

/* ------------------ HEADER ---------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 130px;
    align-items: center;
}
.header__logo {
    z-index: 5;
    font-size: 36px;
    font-weight: 600;
    font-family: PostNoBillsJaffna;
    color: inherit;
    line-height: 150%;
}
.header__logo:hover {
    color:#D4C17F;
}
p {
    font-size: 12px;
    font-family: Raleway;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: 125%;
}
.header__menu {
    margin: 0px 0px 0px 435px;
}
@media (max-width: 1124px){
   .header__menu {
    margin: 0px 0px 0px 80px;
   }
}
@media (max-width: 767px){
    .header__menu {
     margin: 0px 0px 0px 40px;
    }
 }

.menu {
    padding: 5px 0;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item:not(:last-child){
    margin: 0px 40px 0px 0px;
}
.menu__link {
    line-height: 130%;
    color:inherit;
}
/* ---------------------------------------------------------------------------------------- */
.page {
    flex: 1 1 auto;
}

/* --------------- MAIN ------------------------------------------------------------------------- */

.page__main-block {
    position: relative;
}
.main-block__container {
    padding: 300px 0px 74px 0px;
    position: relative;
    z-index: 2;
    max-width: 556px;
}
.main-block__title {
    font-size: 48px;
    font-family: Playfair Display;
    line-height: 130%;
    font-weight: 700;
    color: #D4C17F;
    text-align: center;
}
.main-block__mouse {
    position: relative;
    padding: 100px 0px 0px 0px;
    text-align: center;
    z-index: 2;
}
.main-block__contacts {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 74px;
}
.main-block__contacts a:hover {
    color: #D4C17F;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-block__cont {
    color: inherit;
    font-size: 18px;
    margin: 0px 100px 0px 0px;
}
.main-block__phone {
    padding-left: 100px;
}
@media(max-width: 704px){
    .main-block__phone {
        padding-left: 0px;
    }
}
@media(max-width: 604px){
    .main-block__cont {
        margin: 0px 10px 0px 0px;
    }
}
/* ------------------------- ICONS --------------------------------------------------------------- */
.page__about {
    background: #242B33;
}
.about__container {
    padding-top: 120px;
}
.about__body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 0px -15px;
}
.about__column {
    padding: 0px 15px;
    flex: 0 1 22.222%;
}
@media (max-width: 620px){
    .about__column {
        flex: 0 1 50%;
        margin: 0px 0px 30px 0px;
    }
}
@media (max-width: 340px){
    .about__column {
        flex: 0 1 100%;
        margin: 0px 0px 30px 0px;
    }
}
.about__item {
    height: 100%;
}
.item-about {
    text-align: center
}
.item-about__title {
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    line-height: 135%;
    padding-top: 53px;
}
/* --------------------- APPARTMENTS ------------------------------------------------------------------- */
.page__appartments {
    background-color: #242B33;
}
.header-block__title {
    padding-top: 120px;
    color: #D4C17F;
    font-size: 36px;
    font-weight: 700;
    font-family: Playfair Display;
}
.appartments__body {
    padding-top: 100px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.appartments__img-1 {
    background: url(/assets/images/loft3.1.jpg);
    background-size: cover;
    width: 530px;
    height: 315px;
}
.appartments__img-2 {
    background: url(/assets/images/loft2.1.jpg);
    width: 530px;
    height: 315px;
}
.appartments__img-3 {
    background: url(/assets/images/loft3.2.jpg);
    width: 530px;
    height: 315px;
}
.appartments__img-4 {
    background: url(/assets/images/loft2.2.jpg);
    width: 530px;
    height: 315px;
}
.appartments__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 116%;
    margin: 250px 0px 5px 50px;
}
@media (max-width: 1090px) {
    .appartments__body {
       justify-content: center;
     }
    .header-block__title {
        display: flex;
        justify-content: center;
    }
}
/*---------------------------------------*/
.dcr {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.dcr:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* ------------------------- BODY FORM --------------------------------------------------------------- */
.page__form {
    background: center no-repeat url(/assets/images/form-bg.jpg);
    background-size: cover;
}
.form__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 50px;
}
.form__column {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.form__left {
    display: flex;
    align-items: center;
}
.form__left__text {
    max-width: 535px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 150%;
}
.form__right__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__right__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
.form__right__text {
    max-width: 255px;
    text-align: center;
    margin-bottom: 0;
}
.form__right__top > input:first-child {
    margin-right: 30px;
  }
.input {
    width: 255px;
    height: 50px;
    background-color:rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 192%;
    border: none;
    color: #BEBEBE;
}
input::placeholder {
    color: #BEBEBE;
}
/* .form__items__text {
    width: 255px;
    height: 28px;
    text-align: center;
    font-size: 13px;
    line-height: 123%;
    margin-top: 40px;

} */
.btn {
    width: 255px;
    height: 50px;
    color: #ffffff;
    background-color: #d4c17f;
    font-size: 16px;
    font-weight: 700;
    line-height: 168%;
    border: none;
}
.btn-f:hover {
    background-color: rgb(151, 132, 63);
    color: #ffffff;
}
.form__items_btn {
    margin-top: 30px;
}

@media (max-width: 1066px) {
    .form__title {
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
    .form__left__text {
        margin-bottom: 30px;
    }
    .form__column {
        flex-direction: column;
     }
    .page__form {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 570px) {
    .form__right__top {
        flex-direction: column;
      }
    
    .form__right__bottom {
        flex-direction: column;
      }
    
    .form__right__top > input:first-child {
        margin-bottom: 15px;
        margin-right: 0;
      }
    
    .form__right__text {
        margin-bottom: 30px;
      }
}
/* ---------------------- VIDEO ------------------------------------------------------------------ */
.page__video {
    background: #242B33;
}
.video__container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 719px;
    height: 650px;
}
.video__prewiew {
   background-image: url(/assets/images/video.jpg);
   background-size: cover;
   width: 100%;
   height: 100%;
}
.video__play {
    padding-top: 275px;
    cursor: pointer;
}


@media (max-width: 1068px){
    .video__container{
        padding-top: 50px;
    }
} 
/* ------------------------- MAP --------------------------------------------------------------- */
.page__map {
    background:  #242B33;
}
.map__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 100px;
}
.map__title {
    color: #D4C17F;
  }
  
  .map__map {
    max-width: 100%;
    width: 100%;
    background: #626262;
  }
  @media (max-width: 1066px) {
    .map__title {
        text-align: center;
    }
}
/* ---------------------------- FOOTER FORM ------------------------------------------------------------ */
.page__questions {
    background:  #242B33;
}
.questions__container {
    padding-bottom: 180px;
}
.questions__title {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    color: #D4C17F;
    padding-top: 180px;
    padding-bottom: 50px;
}
.questions__columns {
    display: flex;
    flex-wrap: wrap;
}
.questions__text {
    margin: 10px 35px 0px 0px;
    text-align: center;
    font-size: 13px;
    line-height: 123%;
}
.questions__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
}

@media (max-width: 1140px) {
    .questions__columns {
        flex-direction:column;
        justify-content:center;
        text-align: center;
    }
    .questions__title {
        text-align: center;
    }
    .questions__item:not(:last-child) {
        margin: 10px 0px 0px 0px;
    }
    .questions__item__btn2 {
        margin-top: 10px;
    }
    .questions__text {
        margin: 0px 0px 0px 0px;
    }
}
/* ---------------------------- FOOTER ------------------------------------------------------------ */
.footer {
    background: #2D343C;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer__item {
    list-style: none;
    color: #fff;
    margin: 15px 0 0 0;
}
.footer__item a {
    text-decoration: none;
    color: #fff;
}
.footer__item i {
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.footer__item i:hover {
    color: #D4C17F;
}
.footer__item_mail a {
    color:#D4C17F;
}
.footer__item a:hover {
    color: #D4C17F;
}

@media (max-width:651px) {
    .footer__container {
        flex-direction: column;
        text-align: center;
    }
}

/*---------------- BURGER -----------------*/
.menu__icon {
    display: none;
}
@media (max-width:725px) {
    header {
        
    }
    .header__container {
        justify-content: space-between;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top:0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top:50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);     
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);     
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.87);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu._active {
        left: 0;
    }
    .header__menu {
        margin: 0px 0px 0px 0px;
    }
    /* .header__menu::before {
        z-index: 2;
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 110px;
        background:  #242B33;
    } */
    .menu__item  {
        padding-top: 30px;
    }
    .menu__link {
        font-size: 19px;
    }
    .menu__list {
        flex-direction: column;
        align-items: center;
    }
    .menu__item {
        margin: 0px 40px 0px 0px;
    }
}

